/* Use a stronger selector so that imports added later do not override the property values */
html:not(div)
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.web-tool-window-panel
{
}

.web-tool-window-stripe-top
{
  height: 1.5em;
  border-bottom: 1px solid lightgray;
}

.web-tool-window-stripe-bottom
{
  height: 1.5em;
  border-top: 1px solid lightgray;
}

.web-tool-window-stripe-left
{
  height: 100%;
  width: 1.5em;

  text-orientation: mixed;
  writing-mode: vertical-lr;

  border-right: 1px solid lightgray;
}

.web-tool-window-stripe-right
{
  height: 100%;
  width: 1.5em;

  text-orientation: mixed;
  writing-mode: vertical-lr;

  border-left: 1px solid lightgray;
}

.web-tool-window-content
{
}

.web-tool-window-stripe-button
{
}

.web-tool-window-stripe-button-selected
{
  background-color: lightgray;
}

.web-tool-window-stripe-top .web-tool-window-stripe-button-secondary
{
  align-self: end;
  margin-left: auto;
}

.web-tool-window-stripe-bottom .web-tool-window-stripe-button-secondary
{
  align-self: end;
  margin-left: auto;
}

.web-tool-window-stripe-left .web-tool-window-stripe-button-secondary
{
  align-self: end;
  margin-top: auto;
}

.web-tool-window-stripe-right .web-tool-window-stripe-button-secondary
{
  align-self: end;
  margin-top: auto;
}

.web-tool-window-stripe-left .web-tool-window-stripe-button span
{
  margin-top: 1em;
  margin-bottom: 1em;
}

.web-tool-window-stripe-right .web-tool-window-stripe-button span
{
  margin-top: 1em;
  margin-bottom: 1em;
}

.web-tool-window-stripe-top .web-tool-window-stripe-button span
{
  margin-left: 1em;
  margin-right: 1em;
}

.web-tool-window-stripe-bottom .web-tool-window-stripe-button span
{
  margin-left: 1em;
  margin-right: 1em;
}

.web-icon > *
{
  vertical-align: middle;
}