<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>*</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>All documents</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSTypeIsPackage</key>
        <false/>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>consulo</string>
    <key>CFBundleIconFile</key>
    <string>consulo.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Consulo</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>consulo</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleGetInfoString</key>
    <string>Consulo. Copyright consulo.io, (c) 2013-2016</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0</string>
    <key>CFBundleVersion</key>
    <string>2.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>CFBundleHelpBookName</key>
    <string>Consulo.help</string>
    <key>CFBundleHelpBookFolder</key>
    <string>Consulo.help</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>LSArchitecturePriority</key>
    <array><string>x86_64</string></array>
    <key>LSRequiresNativeExecution</key>
    <string>YES</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9</string>
      <key>CFBundleURLTypes</key>
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>Stacktrace</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>consulo</string>
          </array>
        </dict>
      </array>
  </dict>
</plist>
