/config
/system
.idea/workspace.xml
/out
.DS_Store
/plugins/idea/testData/testProject1/.idea/workspace.xml
/plugins/idea/testData/testProject1/out
/out-ant
/.consulo/workspace.xml
/.consulo/sandbox
/impl/web/dep
/impl/web/gwt-out
/impl/web/gwt-unitCache
