.consulo/libraries
.consulo/workspace.xml
.consulo/sandbox
.consulo/misc.xml
.consulo/compiler.xml
.consulo/encodings.xml
.consulo/modules.xml
.consulo/uiDesigner.xml
.consulo/artifacts/
.consulo/.name
.vs/
/out

.DS_Store
project.xcworkspace/
xcschemes/
target/
