<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Consulo</display-name>

  <servlet>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>consulo.web.servlet.AppServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>IconServlet</servlet-name>
    <servlet-class>consulo.web.servlet.IconServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/app</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>consulo.web.servlet.TestUIServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>IconServlet</servlet-name>
    <url-pattern>/icon</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>gwtTransportServerImpl</servlet-name>
    <servlet-class>consulo.web.gwt.server.GwtTransportServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>gwtTransportServerImpl</servlet-name>
    <url-pattern>/consulo/transport</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>app</welcome-file>
  </welcome-file-list>
</web-app>
