vaadin-input-container.consulo-editor-box {
    --aura-surface-level: 4;
    --aura-surface-opacity: 0.7;
}

vaadin-input-container.consulo-editor-box:not(.consulo-editor-box-multiline) {
    padding-block: 4px;
    min-height: calc(1lh + 2 * var(--vaadin-padding-block-container) + 2 * var(--vaadin-input-field-border-width, 1px));
}

vaadin-input-container.consulo-editor-box > .arquill-editor {
    flex: 1 1 auto;
    min-width: 0;
    align-self: center;
    --arquill-editor-background: transparent !important;
}

vaadin-input-container.consulo-editor-box:not(.consulo-editor-box-editor-font) > .arquill-editor {
    --arquill-editor-font-family: var(--aura-font-family) !important;
    --arquill-editor-font-size: 1em !important;
}

vaadin-input-container.consulo-editor-box:not([readonly], [disabled]) {
    box-shadow: var(--aura-shadow-xs);
}

vaadin-input-container.consulo-editor-box-multiline {
    align-items: stretch;
    min-height: 6em;
}

vaadin-input-container.consulo-editor-box-multiline > .arquill-editor {
    align-self: stretch;
}

vaadin-input-container.consulo-editor-box > [slot="suffix"] {
    width: auto;
}

vaadin-input-container.consulo-editor-box .arquill-editor:not(:focus-within) .arquill-caret {
    visibility: hidden;
}
