/*****
 * Combo box
 */

/** main combo box style */
.advanced-WidgetButtonPanel {
  border: 0;
  padding: 0;
  border-collapse: collapse;
  height: 18px;
  border: 1px solid #808080;
}


/** text box styles */
.advanced-WidgetButtonPanel .selected-value {
  font-family: sans-serif;
  font-size: 12px;
  color: black;
  height: 16px;
  padding: 0;
  margin: 0;
}

.advanced-Grid .selected-value {
  border: 0;
  height: 13px;
}

/** selected text box style */
.advanced-WidgetButtonPanel .selected-row {
  background-color: #D7E9FF;
}

/** button styles */
.advanced-WidgetButtonPanel .choice-button {
  width: 16px;
  height: 16px;
  background-color: #d4d0c8;
  border: 1px solid white;
  border-right-color: #808080;
  border-bottom-color: #808080;
  padding: 0;
}

.advanced-Grid .choice-button {
  height: 13px;
  width: 16px;
  overflow: hidden;
  margin-right: 5px;
}

/** button styles */
.advanced-WidgetButtonPanel .choice-button-up-hovering {
  cursor: pointer;
}

/** button styles */
.advanced-WidgetButtonPanel .choice-button-down {
  background-color: #d4d0c8;
  border: 1px solid darkgray;
}

/** button styles */
.advanced-WidgetButtonPanel .choice-button-down-hovering {
  background-color: #d4d0c8;
  border: 1px solid darkgray;
  cursor: default;
}

/** button image styles */
.advanced-WidgetButtonPanel img {
  display: inline;
  border: 0;
}

/** button image styles */
.advanced-Grid .advanced-WidgetButtonPanel img {
  position: relative;
  top: -3px;
}