body {
  padding-top: 0px;
}

pre {
  padding: 0px;
  margion: 0px;
  word-break: normal;
  white-space: pre;
  background-color: white;
  border: none;
}

.nav {
  margin-bottom: 0;
}

.alert {
  margin-bottom: 0;
}

.noselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editorLineRow {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  text-align: right;
}

.editorLineColumn {
  border-right: #D8D8D8 solid 1px;
}

.editorCodeColumn {

}

.gwtcomp-SuperTree-SelectedItem {
  /*background-color: silver;  */
}

.editorLine {
  font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size:12px
}

.lineEnter {
  background-color: yellow;
}

.textAfterIcon18 {
  margin-left: 2px;
}

.imageWrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
}

.disableOverflow {
  overflow: visible;
}

.gwt-HorizontalSplitPanel2 .hsplitter {
  width: 2px;
  background-color: silver;
}