
pre {
  padding: 0px;
  margion: 0px;
  word-break: normal;
  white-space: pre;
  background-color: white;
  border: none;
}

td {
  padding: 0px;
}

.navbar {
  margin-bottom: 0;
}

.nav {
  margin-bottom: 0;
}

.alert {
  margin-bottom: 0;
}

.noselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bolded {
  font-weight:bold;
}

.editorLinePanel {
  white-space: nowrap;
}

.gwt-TabPanelBottom {

}

.gwt-MenuBar-horizontal {
  border: 0px solid #fff;

  border-bottom: 1px solid #C5C5C5;
}

.editorLine {
  font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size:12px
}


.textAfterIcon18 {
  margin-left: 2px;
}

.imageWrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
}

.disableOverflow {
  overflow: visible;
}

.projectTreeBorder {
  border-right: #C5C5C5 solid 1px;
}

.noFocusBorder:read-write:focus {
  outline: none;
}
