<!--
  - Copyright 2013-2024 consulo.io
  -
  - Licensed under the Apache License, Version 2.0 (the "License");
  - you may not use this file except in compliance with the License.
  - You may obtain a copy of the License at
  -
  - http://www.apache.org/licenses/LICENSE-2.0
  -
  - Unless required by applicable law or agreed to in writing, software
  - distributed under the License is distributed on an "AS IS" BASIS,
  - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  - See the License for the specific language governing permissions and
  - limitations under the License.
  -->
<configuration>
    <appender name="CONSOLE_WARN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{HH:mm:ss.SSS}] %4p - %30.30c - %m%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="ASYNC_CONSOLE_WARN" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_WARN"/>
    </appender>

    <appender name="DIALOG" class="consulo.logger.internal.impl.logback.appender.DialogAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="ASYNC_DIALOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DIALOG"/>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>$LOG_DIR$/consulo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>$LOG_DIR$/consulo-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %4p - %30.30c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC_CONSOLE_WARN"/>
        <appender-ref ref="ASYNC_DIALOG"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>
</configuration>